*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#fff;
}

.body{
    display: flex;
    font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: #191919;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #ccc;
}



/*==============LEFT==============*/
.left{
    width: 20svw;
    background-color: #282828;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    /* position: relative; */
    padding-left: 30px;
}

.left span{
    margin-top: 20px;
    transition: .2s ease-in-out all;
}

.left span:hover{
    opacity: 80%;
    cursor: pointer;
}


.pinion-ct{
    display: flex;
    align-items: center;
    border-radius: 10px;
    transition: .3s ease-in-out all;
    position: relative;
}
.pinion{
    /* font-size: 30px; */
    margin-right: 5px;
}
.about-pinion{
    display: none;
}
/* Dodaj transformacji dla .pinion-ct:hover i .pinion */
.pinion-ct:hover .pinion,
.pinion {
  transition: transform 0.6s ease; /* Dodaj efekt przejścia dla płynniejszego animowania */
}

/* Obróć .pinion o 180 stopni w momencie najechania */
.pinion-ct:hover .pinion {
  transform: rotate(180deg);
}

.pinion-ct:hover{
    background-color: #1f1f1f;
    width: 150px;
    height: 100px;

}

.pinion-ct:hover .about-pinion {
    display: flex;
}

.stay-settings{
    position: absolute;
    top: 0;
    
}


.visible {
    display: block;
}
  
.hidden {
    display: none;
}


  

/*==============CONTENT==============*/

.content{
    width: 80svw;
    height: 85svh;
    /* background-image: url(../assets/content-image.png);
    background-position: center;
    background-repeat: no-repeat; */
    display: flex;
    justify-content:space-evenly;
    align-items: center;

}

.info{
    display: flex;
    justify-content: left;
}

.girl{
    width: 320px;
    height: 320px;
    background-image: url(../assets/girl.png);
    background-position: center;
    background-repeat: no-repeat; 
    background-size:contain;
}

.btn-file{
    background-color: rgba(55,53,86,255);
    font-family: 'Poppins', sans-serif;

}

.btn-file:hover{
    background-color: #4a448b;
}

.tag{
    font-size: 30px;
    font-weight: bold;
}

/*==============SONGS-CONTAINER==============*/
.songs-container{
    width: 80svw;
    /* background-color: #26c9c3; */
    position: relative;
    z-index: 0;
    overflow-y: auto; /* lub overflow-y: scroll; */
    padding-bottom: 12px;
}

.songs{
    display: flex;
    height: 70px;
    border-radius: 10px;
    background-color: #1f1f1f;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 12px;
    transition: 0.2s ease-in-out all;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.songs-etc{
    display: flex;
    /* justify-content:space-between; */
    align-items: center;
    height: 65px;
    border-radius: 10px;
    background-color: #2c2f33;
    padding-left: 80px;
    font-weight: bold;
    font-size: 17px;
    position: sticky;
    z-index: 3;
    top: 0;
}

.songs:hover{
    background-color: #282828;
    cursor: pointer;
}

.songs-info{
    display: flex;
}

.songs-record{
    border-top-left-radius: 10px;   
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.cover{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background: #fff;
}

.cover input[type='file']{
    position: absolute;
    transform: scale(2);
    top: 13px;
    opacity: 0;
}   

.songs-record span{
    height: 55%;
    display: flex;
    align-items: center;
}

.songs-record span:hover{
    background-color: #383838;
    border-radius: 10px;
    
}

.plus{
    width: 50px;
    height: 50px;
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 10px;
    margin-right: 10px;
    position: absolute;
    right: 0;
    transition: .2s ease-in-out all;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

.plus:hover{
    background-color: #1f1f1f;
    cursor: pointer;
}

.overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    border-radius: 10px;
    background-color: #1f1f1f;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 12px;
    transition: 0.2s ease-in-out all;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    position: relative;

}


.closeBtn{
    cursor: pointer;
    width: 35px;
    height: 35px;
    background-color: rgb(191, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: .3s ease-in-out all;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

.add-info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 70px;
    border-radius: 10px;
    background-color: #1f1f1f;
    position: absolute;
    right: 0;
    bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.notification-progress{
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: calc(100% - 10px);
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    background-image: linear-gradient(
        to right, #539bdb, #3250bf);
    animation: load 3s 0.25s linear forwards;
}

.add-record-accept{
    width: 35px;
    height: 35px;
    background-color: #4a448b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: .3s ease-in-out all;
}

.add-record-accept:hover, .closeBtn:hover{
    cursor: pointer;
    opacity: 80%;
}

@keyframes fade-in {
    5%{
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    90%{
        opacity: 1;
        transform: translateY(0);
    }
    
}
@keyframes load {
    to{
        transform: scaleX(1);
    }
    
}

/*==============CONTROL-PANEL==============*/

.control-panel{
    position: fixed;
    bottom: 0;
    width: 100svw;
    height: 15svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
    flex-wrap: wrap;
    z-index: 2;
}

.bar-record{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar-record span{
    width: 5%;
    text-align: center;
}

.bar-container{
    width: 90%;
    height: 3px;
}

.progress-bar{
    --bar-bg: #ffe3d4;
    --seek-before-width: 0;
    --seek-before-color: #a0a0a0;
    --knobby: #3452a5;
    --selectedKnobby: #26c9c3;

    width: 100%;
    height: 3px;
    background-color: white;
    display: flex;
    position: relative;
    align-items: center;
    appearance: none;
    outline: none;
}

/* progress-bar - firefox*/

.progress-bar::-moz-range-track{
    width: 95%;
    height: 3px;
    background-color: red;
    display: flex;
    align-items: center;
    appearance: none;
    outline: none;
    position: relative;
}

.progress-bar::-moz-focus-outer{
    border: none;
}

/* progress-bar - chrome & safari*/
.progress-bar::before{
    content: '';
    height: 3px;
    width: var(--seek-before-width);
    background-color:  var(--seek-before-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
}

/* progress-bar - firefox*/

.progress-bar::-moz-range-progress{
    background-color: var(--seek-before-color);
    height: 3px;
}

/* knobby - chrome & safari*/

.progress-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 3;
    transition: .2s ease-in-out all;
}

.progress-bar::-webkit-slider-thumb:hover{
    background-color: var(--seek-before-color);
}

/* knobby while dragging - chrome & safari*/
.progress-bar:active::-webkit-slider-thumb{
    transform: scale(1.2);
    background-color: var(--seek-before-color);
}

/* knobby - firefox*/
.progress-bar::-moz-range-thumb{
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 3;
    transition: .2s ease-in-out all;
}

/* knobby while dragging - firefox*/
.progress-bar:active::-moz-range-thumb{
    transform: scale(1.2);
    background-color: var(--seek-before-color);
}



/* .dot{
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 100%;
    border: none;
    transition: .2s ease-in-out all;
} */
.dot:hover{
    background-color: #cacaca;
    cursor: pointer;
}

.control-panel button{
    width: 45px;
    height: 45px;
    font-size: 20px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.control-panel .play{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
    border-radius: 100%;
    transition: .2s ease-in-out all;
}


.control-panel button:hover:not(.sound button){
    opacity: 80%;
    cursor: pointer;
}


/*==============HOME==============*/
.home-container{
    width: 100svw;
    height: 100svh;
    display: flex;
    justify-content: center;    
}
.login-container{
    width: 100svw;
    height: 100svh;
    display: flex;
    flex-wrap: wrap;
    
}

.home-nav{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    padding-left: 40px;
}
.form-container{
    width: 100%;
    min-height: 90%;
    /* background-color:burlywood; */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
.home-form{
    
} */

.form-conf{
    width: 300px;
    height: 800px;
    /* background-color:blue; */
    /* border: 1px black solid;
    border-radius: 20px; */
    display: flex;
    flex-direction: column;
}

.error-message{
    margin-bottom: 18px;
    color: red;
}

.form-conf button{
    background-color: #4a448b;
    transition: .2s ease-in-out all;
}

.form-conf button:hover{
    background-color: rgba(55,53,86,255);
}

.form-conf input{
    background-color: #282828;
}

/*===========SOUND===========*/

.sound {
    position: relative;
}

.sound button {
    width: 50px;
    border-radius: 10px;
    transition: .5s ease-in-out all;
    z-index: 1;
    background-color: #1f1f1f;

}
.slider {
    width: 0px;
    z-index: 0;
    transition: .3s ease-in-out all;
}

.sound .volume-slider {
    position: absolute;
    bottom: 5px;
    right: 88px;
    transform: rotate(-180deg);
    background-color: #383838;
    display: flex;
    justify-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 0;
    height: 38px;
    width: 0px;
    display: flex;
    align-items: center;
    justify-content: left;
    z-index: 2;
    overflow: hidden;
    transition: .3s ease-in-out all;
}

.sound:hover .slider {

    width: 140px;
}

.sound:hover .volume-slider {

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    width: 150px;
}

.sound:hover button,
.sound:hover .volume-slider,
.sound:hover .slider {
    cursor: pointer;
    background-color: #383838;

}
.sound:hover button{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}






/*


.sound .volume-slider .slider::-moz-range-track{
    background-color: red;
}
.sound .volume-slider .slider::-moz-focus-outer{
    border: none;
} */


/*===========ABOUT===========*/
.container-about{
    width: 80svw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-foto{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about{
    width: 450px;
    height: 600px;
    display: flex;
    flex-direction: column;


    
}

.foto-container{
    width: 500px;
    height: 600px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    background-image: url('../assets/tomasz.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.icons-about{
    transition: .2s ease-in-out all;

}

.icons-about:hover{
    cursor: pointer;
    transform: scale(1.1);    
}



/*==============LIBRARY================*/
.library{
    height: 100svh;
    width: 80svw;
}





  





