*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    display: flex;
}

/*LEFT*/
.left{
    width: 20svw;
    height: 85svh;
    background-color: #282828;
    display: flex;
    align-items: center;
    font-size: 20px;
    flex-direction: column;
}

.left span{
    margin-top: 20px;
    transition: .2s ease-in-out all;
}

.left span:hover{
    opacity: 80%;
    cursor: pointer;
}

/*CONTENT*/

.content{
    width: 80svw;
    height: 85svh;
    /* background-image: url(../assets/content-image.png);
    background-position: center;
    background-repeat: no-repeat; */
    display: flex;
    justify-content:space-evenly;
    align-items: center;

}

.info{
    display: flex;
    justify-content: left;
}

.girl{
    width: 320px;
    height: 320px;
    background-image: url(../assets/girl.png);
    background-position: center;
    background-repeat: no-repeat; 
    background-size:contain;
}

.btn-file{
    background-color: rgba(55,53,86,255);
}

.btn-file:hover{
    background-color: rgba(55,53,70,255);
}

.tag{
    font-size: 30px;
    font-weight: bold;
}


/*CONTROL-PANEL*/

.control-panel{
    background-color: aqua;
    position: fixed;
    bottom: 0;
    width: 100svw;
    height: 15svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
    flex-wrap: wrap;
}

.bar-record{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar-record span{
    width: 5%;
    text-align: center;
}

.bar-container{
    width: 95%;
    height: 3px;

    
}

.bar{
    width: 95%;
    height: 3px;
    background-color: white;
    display: flex;
    align-items: center;
}

.dot{
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 100%;
    border: none;
    transition: .2s ease-in-out all;
}
.dot:hover{
    background-color: #cacaca;
    cursor: pointer;
}

.control-panel button{
    width: 45px;
    height: 45px;
    font-size: 20px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.control-panel .play{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
    padding-left: 3px;
    border-radius: 100%;
    transition: .2s ease-in-out all;
}


.control-panel button:hover{
    opacity: 80%;
    cursor: pointer;
}

